%meta{charset: "UTF-8"}
// Creates a dataLayer above GTM tag
%script{ type: "text/javascript"}
  window.dataLayer = window.dataLayer || []
%meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

%script document.documentElement.className = 'html--js'
%script{type: "application/ld+json"} {"@context":"http://schema.org","@type":"Organization","name":"GitLab","legalName":"GitLab Inc.","url":"https://about.gitlab.com","logo":"https://gitlab.com/gitlab-com/gitlab-artwork/raw/master/logo/logo.png","foundingDate":"2011","founders":[{"@type":"Person","name":"Sid Sijbrandij"},{"@type":"Person","name":"Dmitriy Zaporozhets"}],"address":{"@type":"PostalAddress","streetAddress":"268 Bush Street #350","addressLocality":"San Francisco","addressRegion":"CA","postalCode":"94104","addressCountry":"USA"},"sameAs":["https://www.facebook.com/gitlab","https://twitter.com/gitlab","https://www.linkedin.com/company/gitlab-com","https://plus.google.com/107491817347842790515/","https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg"]}
%script#Cookiebot{:async => "", "data-cbid" => "36a06ac5-ddb4-4f91-8337-067ad19ad8d5", :src => "https://consent.cookiebot.com/uc.js", :type => "text/javascript"}
%script{:async => "", :src => "//cdn.bizible.com/scripts/bizible.js", :type => "text/javascript"}


-if current_page.data.google_optimize

  -# Google Optimize anti-flash snippet - CSS for .async-hide located in _base.css file
  %script{ type: "text/javascript" }
    (function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',500,
    {'GTM-WC3ZR2P':true});
  -# End Google Optimize anti-flash

-# Google Optimize + GA snippet
%script{ type: "text/javascript" }
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37019925-1', 'auto', {allowLinker: true});
  ga('require', 'GTM-WC3ZR2P');

-# Google Tag Manager
%script{ type: "text/javascript" }
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NJXWQL');
-# End Google Tag Manager

-if current_page.data.campaign
  %script
    dataLayer.push({'campaign': '#{current_page.data.campaign}'});

- if current_page.data.noindex
  %meta{ name: "robots", content: "noindex, follow" }
- else
  %meta{ name: "robots", content: "index, follow" }

%title
  -
  #{current_page.data.title ? current_page.data.title : yield_content(:title)}
  \|
  = data.site.title

= partial "includes/layout/meta"

%link{rel: "alternate", type: "application/atom+xml", title: "Blog", href: "/atom.xml"}

%link{href: "/ico/favicon.ico", rel: "shortcut icon"}
%link{href: "/ico/apple-touch-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}
%link{href: "/ico/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}
%link{href: "/ico/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}
%link{href: "/ico/apple-touch-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}
%link{href: "/ico/apple-touch-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}
%link{href: "/ico/apple-touch-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}
%link{href: "/ico/apple-touch-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}
%link{href: "/ico/apple-touch-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}
%link{href: "/ico/apple-touch-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}
%link{href: "/ico/favicon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}
%link{href: "/ico/favicon-160x160.png", rel: "icon", sizes: "160x160", type: "image/png"}
%link{href: "/ico/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}
%link{href: "/ico/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}
%link{href: "/ico/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}
%meta{content: "#554488", name: "msapplication-TileColor"}
%meta{content: "/ico/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "/ico/browserconfig.xml", name: "msapplication-config"}
- if current_page.data.canonical_path
  %link{ :rel => "canonical", :href => "https://about.gitlab.com#{current_page.data.canonical_path}" }

%link{rel: "stylesheet", href: font_url(current_page)}
%link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.1.0/css/all.css", :integrity => "sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt", :rel => "stylesheet"}
%link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css"}
%link{ :rel => "canonical", :href => "https://about.gitlab.com#{current_page.data.canonical_path.present? ? current_page.data.canonical_path : current_page.url}" }

= stylesheet_link_tag :styles, :highlight
- if current_page.data.extra_css
  - current_page.data.extra_css.each do |css_name|
    = stylesheet_link_tag css_name
